.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 202px;
  height: 2070.4px;
  background-color: #343a40;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  color: white;
  text-align: center;
  font-size: 24px;
}

.sidebar .nav {
  list-style: none;
  padding: 0;
}

.sidebar .nav-item {
  margin: 15px 0;
}

.sidebar .nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar .nav-link i {
  margin-right: 10px;
}

.content {
  margin-left: 202px;
  padding: 20px;
  width: calc(100% - 202px);
}

.custom-card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.custom-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Orbitron", sans-serif;
}

.custom-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  /* Equivalent to bg-neutral-950 */
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    rgba(255, 255, 255, 0)
  );
  background-repeat: no-repeat;
  background-size: cover;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin: 50px auto;
}

.input-box {
  font-size: 16px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #08aeea;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #08aeea;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.input-box:focus {
  border-color: #08aeea;
  outline: none;
}

.input-box:focus + .underline {
  transform: scaleX(1);
}
